<div class="card">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">{{
        "childrenList" | translate
      }}</span>
    </h3>
    <div
            class="card-toolbar col-md-4"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-trigger="hover"
    >
        <input
            type="text"
            class="form-control form-control-solid"
            placeholder="{{ 'searchByNameCPR' | translate }}"
            (input)="search($event)"
        />
    </div>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Click to add a user"
      *ngIf="showAddChildren"
    >
      <a
        routerLink="/apps/childrens/add-child/add-basic-data"
        class="btn btn-sm btn-light-primary"
      >
        <span><i class="fa fa-user-plus" aria-hidden="true"></i></span>
        {{ "addChildren" | translate }}
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="min-w-130px">{{ "AUTH.INPUT.FULLNAME" | translate }}</th>
            <th class="min-w-120px">{{ "cpr" | translate }}</th>
            <th class="min-w-120px">{{ "nationality" | translate }}</th>
            <th class="min-w-120px">{{ "gender" | translate }}</th>
            <th class="min-w-100px text-end">{{ "Actions" | translate }}</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let children of filteredList">
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                  <img
                    *ngIf="children?.photo !== null"
                    [src]="children?.photo"
                    alt=""
                  />
                  <img
                    *ngIf="children?.photo == null"
                    src="/assets/logo.png"
                    alt=""
                  />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a
                  [routerLink]="['/apps/childrens/edit-child/' + children.id + '/basic-data']"
                    class="text-dark fw-bolder text-hover-primary fs-6"
                  >
                    {{ children.full_name }}
                  </a>
                  <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
                      {{ children.email }}
                    </span> -->
                </div>
              </div>
            </td>

            <td>
              <a class="text-dark fw-bolder text-hover-primary d-block fs-6">
                {{ children.cpr }}
              </a>
            </td>

            <td>
              <a class="text-dark fw-bolder text-hover-primary d-block fs-6">
                {{
                  translate.currentLang == "en"
                    ? children.nationality?.name
                    : children.nationality?.name_ar
                }}
              </a>
            </td>
            <td>
              <a class="text-dark fw-bolder text-hover-primary d-block fs-6">
                {{ children.gender | translate }}
              </a>
            </td>

            <td>
              <div class="d-flex justify-content-end flex-shrink-0">
                <a
                *ngIf="showEditChildren"
                  [routerLink]="['/apps/childrens/edit-child/' + children.id + '/basic-data']"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                >
                  <span
                    [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                    class="svg-icon svg-icon-3"
                  ></span>
                </a>
                <a
                *ngIf="showDeleteChildren"
                  
                  (click)="openModal(template, children.id)"
                  class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1"
                >
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/general/gen027.svg'
                    "
                    class="svg-icon svg-icon-3"
                  ></span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>هل أنت متأكد من الحذف ؟</p>
    <button type="button" class="btn btn-danger" style="margin: 5px;" (click)="deleteChildrens(deleteID)" >{{'yes' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >{{'no' | translate}}</button>
  </div>
</ng-template>
