<div class="card">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">{{
        "categoriesList" | translate
      }}</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Click to add a user"
      *ngIf="showAddCategory"
    >
      <a
        routerLink="/apps/categories/add-category"
        class="btn btn-sm btn-light-primary"
      >
        <span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
        {{ "addCategory" | translate }}
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="min-w-120px">{{ "name" | translate }}</th>
            <th class="min-w-100px text-end">{{ "Actions" | translate }}</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let category of categoriesList">
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a
                    [routerLink]="['/apps/categories/edit-category/' + category.id]"
                    class="text-dark fw-bolder text-hover-primary fs-6"
                  >
                    {{ category.name }}
                  </a>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0">
                <a
                *ngIf="showEditCategory"
                  [routerLink]="['/apps/categories/edit-category/' + category.id]"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                >
                  <span
                    [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                    class="svg-icon svg-icon-3"
                  ></span>
                </a>
                <a
                *ngIf="showDeleteCategory"
                  (click)="deleteCategory(category.id)"
                  class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm me-1"
                >
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/general/gen027.svg'
                    "
                    class="svg-icon svg-icon-3"
                  ></span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
