<div class="row g-5 g-xl-8" >
    <div *ngFor="let status of statusList" class="col-xl-4">
      <a [routerLink]="'/apps/status/edit-status/' + status.id"
      style="cursor: pointer ;">
        <app-stats-widget2
        
          class="card card-xl-stretch mb-xl-8  "
          avatar="{{ 'https://cdn-icons-png.flaticon.com/512/13079/13079982.png' }}"
          title="{{ translate.currentLang == 'en' ? status.name : status.name_ar }}"
          description="System & Software Architect"
        ></app-stats-widget2>
      </a>
    </div>
  </div>
  <div  style="margin-top: 6px;" class="col-md-4">
    <!--begin::Card-->
    <div class="card h-md-100">
      <!--begin::Card body-->
      <div class="card-body d-flex flex-center">
        <!--begin::Button-->
        <button
          type="button"
          class="btn btn-clear d-flex flex-column flex-center"
          [routerLink]="'/apps/status/add-status'"
        >
          <!--begin::Illustration-->
          <img
            src="https://cdn-icons-png.flaticon.com/512/13079/13079982.png"
            alt=""
            class="mw-100 mh-150px mb-7"
          />
          <!--end::Illustration-->
          <!--begin::Label-->
          <div class="fw-bold fs-3 text-gray-600 text-hover-primary">
          {{'addNewStatus' | translate}}
          </div>
          <!--end::Label-->
        </button>
        <!--begin::Button-->
      </div>
      <!--begin::Card body-->
    </div>
    <!--begin::Card-->
  </div>
  